.actions {
  display: flex;
  padding: var(--size-1) var(--size-3);
  margin-bottom: var(--size-2);
  border-bottom: 1px solid var(--green-100);
  vertical-align: middle;
}

a {
  color: inherit;
}

.actions__format,
.actions__write--del {
  margin-left: auto;
}

.actions__save-btn {
  background-color: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

@media (min-width: 660px) {
  .actions__notes-list {
    display: none;
  }
  .actions__format,
  .actions__write--del {
    margin-left: 0;
  }

  .drawer {
    display: none;
  }
}

.notes-list {
  display: flex;
  flex-direction: column;
  width: 70vw;
  background-color: var(--main-green-50);
  height: 100%;
  padding: var(--size-3);
  margin: 0 auto;
}
