.layout {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  background-color: var(--main-green-50);
  border-radius: var(--size-2);
}

.menu {
  display: none;
}

.content {
  max-width: 100%;
  padding: var(--size-3);
}

@media (min-width: 660px) {
  .layout {
    display: flex;
    flex-direction: row;
    padding: 0 var(--size-3);
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: var(--size-3);
    padding-top: var(--size-3);
    margin: 0 auto;
  }

  .menu-list {
    margin: 0 auto;
    width: 100%;
  }
  .menu-note {
    padding: var(--size-2);
    border-radius: var(--size-1);
    margin-bottom: var(--size-2);
    background-color: var(--green-100);
    max-width: 100%;
  }

  .menu-note__note {
    color: var(--black-default);
    text-decoration: none;
    width: inherit;
    display: flex;
    flex-direction: column;
  }

  .menu-note__body {
    color: var(--black-500);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content {
    width: 75%;
    border-left: 1px solid var(--green-100);
  }
}
