.content {
  position: absolute;
  min-height: 80vh;
  width: 100%;
}

.textarea {
  position: absolute;
  min-height: 80vh;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: transparent;
  caret-color: var(--black-default);
  caret-shape: block;
}
